# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Banco/dados locais
database/*.db
database/*.sqlite
database/*.sqlite3
database/compras.json

# Configurações locais
.env
*.env

# Sistema/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Builds
build/
dist/
*.spec
